*{
    margin: 0px;
    padding: 0px;
}

/* .bordercolor{
    border: solid black 3px;
    margin:10px;
} */

div.clearfix{
    clear: both;
}

/* header */

header{
    background-color:darkblue;
    padding-left:15%;
    padding-right:15%;

}

header h1{
    color: #FFF;
    text-transform: capitalize;
}

div.banner{
    background: url(../img/background.jpg);
}

div.banner h2{
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* main */

main {
    background: silver;
    padding-left:15%;
    padding-right:15%;
    padding-top:50px;
    padding-bottom:50px;
    display:flex;
}

@media screen and (max-width: 640px) { 
    main {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding-left:0%;
        padding-right:0%;
        justify-content: center;
        align-content: center;
    }
    
    main aside{
        width:90%;
        margin:0px;
    }

    main section.section_un{
        width:90%;
        margin:0px;
    }
}
/* main aside */

main aside{
    width:23%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right:1%;
}

main aside h3{
    height:9%;
    text-align: center;
}

main aside form{
    height:90%;
    border:whitesmoke 1px solid;
    border-radius:5px;
    display: flex;
    flex-direction: column;
}

main aside form h4{
    padding-top:12px;
    padding-bottom:12px;
}

main aside form textarea{
    resize: none;
    height:70%;
}


/* main section */

main section.section_un{
    width: 74%;
    margin-left:1%;
}

main section.section_un img{
    width: 100%;
}

/* Prefooter section */

section.section_deux{
    max-height:100%;
    background: grey;
    padding-left:15%;
    padding-right:15%;
}

section.section_deux div.un{
    width : 80%;
    display:inline-block;
    float:left;
}

section.section_deux div.deux{
    width:15%;
    display:inline-block;  
}

section.section_deux div.deux img{
    width:100%;
}

/* footer */

footer{
    background-color: darkblue;
    padding-left:1%;
    padding-right:1%;
}

footer b{
    color: white;
    text-align: right;
    display: block;
}
